*{
       margin:0px;
}
.bg-container{
       padding:24px;
       background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/orange-color-bg.png');
       background-size: cover;
}
.header-container{
       margin-top:10px;
       margin-bottom: 10px;
}
.tittle{
       font-size:20px;
       color:white;
       font-weight: bold;
}
.btn{
       height:36px;
       width: 120px;
       background-color: #ffffff;
       color: #ff8348;
       font-size:10px;
       font-weight: bold;

}
.decreption{
       font-size:16px;
       color:white;
}
.similar-header{
       color:white;
       font-size:30px;
}
