*{
       margin:0px;
}
.bg-container{
       background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png');
       height:100vh;
       background-size:cover;
}
.advaced-card{
       background-color: white;
       padding:30px;
       border-top-right-radius: 20px;
       border-top-left-radius: 20px;
}
.button-learn{
       background-color: white;
       border-width:2px;
       height: 36px;
       width: 126px;
       border-color: #d7dfe9;
       margin-right:10px;
       border-style:solid;
       border-radius: 8px;
}
.button-Save{
       background-color: #171f46;
       border-width:1px;
       height: 36px;
       width: 126px;
       border-color: #d7dfe9;
       color:white;
       border-style:solid;
       border-radius: 8px;
}